@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 @font-face {
    font-family: 'Nexa Bold';
    src: url("../src/assets/nexa-bold.otf")  format('opentype');
}

@font-face {
    font-family: 'Nexa Regular';
    src: url("../src/assets/nexa-regular.otf")  format('opentype');
}

@font-face {
    font-family: 'Hero Bold';
    src: url("../src/assets/hero-new-bold.otf")  format('opentype');
}
@font-face {
    font-family: 'Hero Regular';
    src: url("../src/assets/Hero-Regular.otf")  format('opentype');
}
@font-face {
    font-family: 'Hero Light';
    src: url("../src/assets/Hero-Light.otf")  format('opentype');
}

@font-face {
    font-family: 'Cyntho Next Bold';
    src: url("../src/assets/cynthonextbold.otf")  format('opentype');
}

@font-face {
    font-family: 'Cyntho Next Light';
    src: url("../src/assets/cynthonextlight.otf")  format('opentype');
} 



/* @font-face {
    font-family: 'Average';
    src: url("../src/assets/Average-Regular.otf")  format('opentype');
} */